<!DOCTYPE html>
<html>
<body>

<h2>Add Certificate</h2>

<form action="/addCertificate" method="post">
    Course: <input type="text" name="course"><br>
    Organization: <input type="text" name="organization"><br>
    <button type="submit">Save</button>
</form>

<h2>Certificate List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Course</th>
        <th>Organization</th>
        <th>Action</th>
    </tr>

    <tr th:each="c : ${certificates}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.course}"></td>
        <td th:text="${c.organization}"></td>
        <td>
            <a th:href="@{'/editCertificate/' + ${c.id}}">Edit</a>
            <a th:href="@{'/deleteCertificate/' + ${c.id}}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>